.navbar {
  background-color: #ee3a00 !important;
}

.navbar-nav a,
.navbar-brand a,
.navbar-nav a:hover,
.navbar-brand a:hover {
  text-decoration: none !important;
  color: white;
  font-weight: bold;
}

.navbar-brand {
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.navbar-nav a {
  font-family: "Roboto Slab", serif;
  margin-right: 1em !important;
}

.navbar-toggler {
  outline: none !important;
  border: 0px !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
