.menu {
  padding: 5em;
  font-family: "Roboto", sans-serif;
}

.menu .card {
  border: 2px solid #ee3a00;
}

.menu .card-header {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 1.5em;
}

.menu .no-pizzas {
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

.menu .no-pizzas-link, .no-pizzas-link:hover  {
  color: #000000;
  text-decoration: none !important;
}