.page-one,
.page-two,
.page-three {
  padding: 5em;
  font-family: "Roboto", sans-serif;
}

.page-one {
  background-image: url("../images/pizza.png");
  background-repeat: no-repeat;
  height: 700px;
  background-size: cover;
}

.page-one-panel {
  border: 0.3em solid #ee3a00;
  background-color: white;
  padding: 3em 2em;
  width: 60%;
}

.page-one-panel h1 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.page-one-panel h5,
.page-two h5,
.page-three h5,
.form-label {
  font-weight: bold;
}

select.form-control,
select.form-control:focus {
  box-shadow: none !important;
  font-family: "Roboto Slab", serif;
  border: 0.1em solid #ee3a00 !important;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
}

.btn-primary {
  background-color: #ee3a00 !important;
  border-radius: 0px !important;
  border: 0 !important;
  font-family: "Roboto Slab", serif;
  box-shadow: none !important;
}

.topping-card .card-body {
  padding: 0px !important;
}

.card {
  border-radius: 0px !important;
}

.topping-card .card-title {
  border-right: 0.3em solid #ee3a00;
  border-left: 0.3em solid #ee3a00;
  text-align: center;
  margin-bottom: 0px;
  padding: 0.3em;
  font-style: italic;
}

.card-img-top {
  width: 100px;
  height: 250px;
  border: 0.3em solid #ee3a00;
  border-radius: 0px !important;
}

.card-footer {
  padding: 0px !important;
  border: 0px !important;
}

.page-three .card {
  /* border: 0px !important; */
  border: 2px solid #ee3a00;
}

.page-three .card-header {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 1.5em;
}

.list-group-item {
  border-top: 2px solid #ee3a00 !important;
  font-style: italic;
}
